<div><i>Select which dog you would like to make an appointment for: </i>
  <div class='control has-icons-left'>
    <div class='select is-hover is-link is-rounded is-normal'>
      <select id='doggos'>
        {{#each this.dogs}}
          <option data-dog='{{this.id}}'>{{this.dog_name}}</option>
        {{/each}}
      </select>
    </div>
    <div class='icon is-small is-left'>
      <i class='fa-solid fa-paw'></i>
    </div>
  </div>
</div>
<hr />
<table class='table is-narrow'>
  <thead>
    <tr>
      <th>Walker</th>
      <th>Day</th>
      <th>Time</th>
      <th>Add</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.calendar}}
      <tr>
        <td>{{this.walker.walker_name}}</td>
        <td>{{this.day}}</td>
        <td>{{this.time}}</td>
        <td data-calendar='{{this.id}}'><button
            class='schedule-dog button is-info is-light is-small'
          >Schedule Dog</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>
<script src='/public/js/schedule-appointment.js'></script>