<div>
    {{#each this}}
    <section>
        <div>
            list of dogs
            {{dog_name}}
            {{size}}
            {{walker.walker_name}}
            {{walker.email}}
            {{walker.phone}}
            {{walker.hourly_rate}}
        </div>
    </section>
    {{/each}}
</div>