<table class="table">
    {{#each this}}
    <tbody>
        <tr>
            <th>Dog Name</th>
            <td>{{this.dog_name}}</td>
        </tr>
        <tr>
            <th>Size</th>
            <td>{{size}}</td>
        </tr>
        <tr>
            <th>Walker Name</th>
            <td>{{walker.walker_name}}</td>
        </tr>
        <tr>
            <th>Walker Email</th>
            <td><a href="mailto:{{walker.email}}">{{walker.email}}</a></td>
        </tr>
        <tr>
            <th>Walker Phone Number</th>
            <td>{{walker.phone}}</td>
        </tr>
        <tr>
            <th>Walker Hourly Rate</th>
            <td>${{walker.hourly_rate}}</td>
        </tr>
    </tbody>
    {{/each}}
</table>