{{#each this}}
  <table class='table'>
    <tbody>
      <tr>
        <th>Dog Name</th>
        <td>{{dog_name}}</td>
      </tr>
      <tr>
        <th>Size</th>
        <td>{{size}}</td>
      </tr>
      {{#each this.calendar}}
        <tr>
          <td>{{this.walker.name}}</td>
          <td>{{this.day}}</td>
          <td>{{this.time}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/each}}