{{#each this}}
  <table class='table'>
    <tbody>
      <tr>
        <th>Dog Name</th>
        <td>{{dog_name}}</td>
      </tr>
      <tr>
        <th>Size</th>
        <td>{{size}}</td>
      </tr>
      <tr>
        <th>Add Walker</th>
        <td><button type='click' class="btn">Click</button></td>
      </tr>
      <tr>
        <th>Walker Name</th>
        <td>{{walker.walker_name}}</td>
      </tr>
      <tr>
        <th>Walker Email</th>
        <td><a href='mailto:{{walker.email}}'>{{walker.email}}</a></td>
      </tr>
      <tr>
        <th>Walker Phone Number</th>
        <td><a href='tel:{{walker.phone}}'>{{walker.phone}}</a></td>
      </tr>
      <tr>
        <th>Walker Hourly Rate</th>
        <td>${{walker.hourly_rate}}</td>
      </tr>
    </tbody>
  </table>
{{/each}}
<script src="/public/js/add-walker-to-dog.js"></script>