
<div class="columns mt-3">
    <div class="column is-three-fifths is-offset-one-fifth">
        <div class="card">
            <div class="card-image">
                <figure class="image is-3by2">
                    <img src="{{owner.profile_pic}}" alt="owner profile image">
                </figure>
            </div>
  
            <div class="card-content">
    
                <div class="owner">
     
                    <div class="owner-content">
                        <p class="title is-3 mb-0">{{owner.owner_name}}</p>
                        <a class="my-0" href="mailto:{{owner.email}}">{{owner.email}}</a>
                    </div>
                </div>

                <div class="content mt-3">
                    <p>Address: {{owner.address}}</p>
                    <p>Phone #: {{owner.phone}}</p>
                </div>
        
                <div class="content mt-3">
                    <p>Dogs: {{> dog-info owner.dogs}}</p>
                </div>
            </div>
  
            <footer class="card-footer">
                <a href="/owner/{{owner.id}}/add-dog" class="card-footer-item">Add Dog</a>
            </footer>
        </div>
    </div>
</div>


