
<div class="columns mt-3">
    <div class="column is-three-fifths is-offset-one-fifth">
        <div class="card">
            <div class="card-image">
                <figure class="image is-3by2">
                    {{{profile_pic ownerInfo}}}
                </figure>
            </div>
  
            <div class="card-content">
    
                <div class="owner">
     
                    <div class="owner-content">
                        <p class="title is-3 mb-0">{{ownerInfo.owner_name}}</p>
                        <a class="my-0" href="mailto:{{ownerInfo.email}}">{{ownerInfo.email}}</a>
                    </div>
                </div>

                <div class="owner-content mt-3">
                    <p>Address: <span class="owner-info">{{ownerInfo.address}}</span></p>
                    <p>Phone Number: <span class="owner-info">{{ownerInfo.phone}}</span></p>
                </div>
        
                <a href="/owner/{{ownerInfo.id}}/add-dog"><button class="button is-info">Add Dog</button></a>


                </div>
                <div class="content mt-3">
                    <p>Dogs Information: {{> dog-info ownerInfo.dogs}}</p>
                </div>

                <div>
                    <p>Openings: {{> calendar-avail ownerInfo}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


