<div class='columns mt-3'>
  <div class='column is-three-fifths is-offset-one-fifth'>
    <div class='card'>
      <div class='card-image'>
        <figure class='image is-3by2'>
          {{{profile_pic walkerInfo}}}
        </figure>
      </div>

      <div class='card-content'>

        <div class='walker'>

          <div class='walker-content'>
            <p class='title is-3 mb-0'>{{walkerInfo.walker_name}}</p>
            <a
              class='my-0'
              href='mailto:{{walkerInfo.email}}'
            >{{walkerInfo.email}}</a>
          </div>
        </div>

        <div class='walker-content mt-3'>
          <p>Hourly Rate:
            <span class='walker-info'>${{walkerInfo.hourly_rate}}</span></p>
          <p>Phone #: <span class='walker-info'>{{walkerInfo.phone}}</span></p>
        </div>
        <hr />

        <div class='content mt-3'>
          <p><b>Appointments:</b></p>
          {{#each walkerInfo.calendar}}
            {{#if this.dog_id}}
              <table class='table-body'>
                <tbody>
                  <tr>
                    <th>Day</th>
                    <td>{{this.day}}</td>
                  </tr>
                  <tr>
                    <th>Time</th>
                    <td>{{this.time}}</td>
                  </tr>
                  <tr>
                    <th>Dog Name</th>
                    <td>{{this.dog.dog_name}}</td>
                  </tr>
                </tbody>
              </table>
            {{/if}}
          {{/each}}
        </div>
        <hr />

        <div class='content mt-2'>
          <p><b>Times Available</b></p>
        </div>
        <form class='weekly-form'>
          <div>
            <i>Please provide which dates you are available to walk:</i>
            <select class='day select is-link is-small'>
              <option>Monday</option>
              <option>Tuesday</option>
              <option>Wednesday</option>
              <option>Thursday</option>
              <option>Friday</option>
              <option>Saturday</option>
              <option>Sunday</option>
            </select>
            <select class='time select is-link is-small'>
              <option>6:00</option>
              <option>7:00</option>
              <option>8:00</option>
              <option>9:00</option>
              <option>10:00</option>
              <option>11:00</option>
              <option>12:00</option>
              <option>13:00</option>
              <option>14:00</option>
              <option>15:00</option>
              <option>16:00</option>
              <option>17:00</option>
              <option>18:00</option>
              <option>19:00</option>
              <option>20:00</option>
            </select>
            <button type='submit' class='button is-link is-small'>Add Time</button>
          </div>
        </form>

        {{#each walkerInfo.calendar}}
          {{#unless this.dog_id}}
            <div class='block' data-calendar='{{this.id}}'>
              {{this.day}}
              {{this.time}}
              <button
                type='click'
                class='delete-btn button is-info is-light is-small'
              >Delete</button>
            </div>
          {{/unless}}
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script src='/public/js/walker-dashboard.js'></script>