<section>
    <img src=""/>
    profile picture
    <div>
        <ul>
            Walker Info
            <li>
                {{walkerInfo.walker_name}}
            </li>
            <li>
                {{walkerInfo.email}}
            </li>
            <li>
                {{walkerInfo.hourly_rate}}
            </li>
            <li>
                {{walkerInfo.phone}}
            </li>
            <li>
                Appointments
                {{#each walkerInfo.calendar}}                
                {{#if this.dog_id}}
                {{this.day}}
                {{this.time}}
                {{this.dog.dog_name}}
                {{/if}}
                {{/each}}
                Times Available
                 {{#each walkerInfo.calendar}}
                 {{#unless this.dog_id}}
                {{this.day}}
                {{this.time}}
                {{/unless}}
                {{/each}}
            </li>
        </ul>
    </div>
</section>